{% extends "BaseLine.html" %}
{% block  content %}
    <div class="container-fluid mt-5 pt-5">
        <div class="row">
            <div class='col-md-9'>

                {% for c in favourite %}

                    <div class="card mb-3" style="max-width: 940px;">
                        <div class="row no-gutters">
                            <div class="col-md-2 ml-1">
                                <img src="{{ c.productID.productImg.url }}"
                                     class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Product name : {{ c.productID }}</h5>
                                    <p class="card-text">product price : {{ c.productID.productPrice }}</p>
                                    <p class="card-text"
                                       style="width:300px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">{{ c.productID.productDetails }}</p>
                                </div>
                            </div>

                            <div class="card-footer col-md-12 ml-1 pr-2 row">

                                <div class="col-md row ">
                                    <form method="post" action="/cart/checkFavoute/" id="form-count">
                                        {% csrf_token %}
                                        <input id="del-{{ c.productID.productID }}"
                                               name="del-{{ c.productID.productID }}"
                                               class="col-md-12 justify-content-center form-control form-control-sm btn btn-danger"
                                               type="submit"
                                               value="Remove">
                                    </form>
                                </div>

                                <div class=" float-right">
                                    <form action="/cart/" method="post">
                                        {% csrf_token %}
                                        <input class="form-control" hidden="true" id="text1" name="text1"
                                               type="text"
                                               value="{{ c.productID.productID }}">

                                        <input class="form-control" hidden="true" id="text2" name="text2"
                                               type="text" value="{{ request.session.id }}">

                                        <button type="submit" class="btn btn-primary float-right mb-2"
                                                value="AddToCart">Add to
                                            Cart
                                        </button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}


            </div>
            <div class='col-md-3'>
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTsJVcxl4PSFDrmoGWPaFEr_vLhR9R8ThbMpWQMw0tqWkuU9eWn"
                         class="card-img-top" alt="...">
                    <!-- <div class="card-body">
                        <h5 class="card-title">Payment Method</h5>
                        <p class="card-text">Total money =</p>
                        <p class="card-text">Please choose your payment method </p>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked
                                       value="c">Cash
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="options" id="option2" autocomplete="off" value="v">Visa
                            </label>

                        </div>
                        <input type="submit" form="form-count" class="btn btn-primary" name="check" value="PROCEED TO CHECKOUT">

                    </div> -->

                </div>

            </div>
        </div>
    </div>


{% endblock %}