{% extends "BaseLine.html" %}
{% block  content %}

    <div class="container">
           {% if  latest_products %}

            {% for product in latest_products %}
                <div class="mt-5 pt-5 col">
                <form method="post" action="/products/productDetails/">
                    {% csrf_token %}
                    <img src="{{ product.productImg.url }}" class="card-img-top"  style="width:200px;height:200px;">
                    <h5 class="card-title">{{ product.productName }}</h5>
                    <p class="card-text"> {{ product.productPrice }} $ </p>
                    <input type="hidden" name= "productID"  value="{{ product.productID }}"/>
                    <input type="submit" name="showDetails" value="Show Details"/>
                </form>
                </div>
            {% endfor %}

        {% else %}

            Mafish 7aga ya basha

        {% endif %}
    </div>
    {% endblock %}

