<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
{#<form action="chk/" method="post">#}
{#    {% csrf_token %}#}
{#    <table>#}
{#        <tbody>#}
{#        <tr>#}
{#            <th>Old Password</th>#}
{#            <td><input type="password" id="old_ps" minlength="8"></td>#}
{#        </tr>#}
{##}
{#        <tr>#}
{#            <th>New Password</th>#}
{#            <td><input type="password" id="new_ps" minlength="8"></td>#}
{#        </tr>#}
{#        <tr>#}
{#            <th>Retype Password</th>#}
{#            <td><input type="password" id="re_ps" minlength="8"></td>#}
{#        </tr>#}
{#        </tbody>#}
{#    </table>#}
{#    <input type="submit" value="Change Password">#}
{#</form>#}
<form method="post" novalidate >
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
<div>
    <label>{{ c }}</label>
</div>
</body>
</html>