<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

</head>
<body>
<div>
    <table>
        <tbody>
        <tr>
            <td> User Name :</td>
            <td> {{ profile.userName }}</td>
        </tr>

        <tr>
            <td> Email :</td>
            <td> {{ profile.email }}</td>
        </tr>
        <tr>
            <td> Phone :</td>
            <td> {{ profile.phone }}</td>

        </tr>

        <tr>
            <td> Address 1 :</td>
            <td> {{ address1 }}</td>
        </tr>

        <tr>
            <td> Address 2 :</td>
            <td> {{ address2 }}</td>
        </tr>

        </tbody>
    </table>
</div>

<div>
    <a href="changePassword/"><input type="button" value="Change Password"></a>
    <a href="history/">    <input type="button" value="Show History"></a>

</div>
</body>
</html>